html {
    background-color: #fcecd8;
    font-family: 'Poppins';
}

body {
    display: flex;
    margin: 0;
    padding: 1vmax;
    gap: 1vmax;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: none;
}

small, span {
    color: gray;
}

#earssy-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flow-container {
    padding: 0.5vmax 2vmax;
    background-color: #fde3c2;
    border-radius: 1vmax;
    box-shadow: 0 0 0.5vmax 0.25vmax #a1907b;
}

#earssy-content {
    display: flex;
    padding: 1vmax;
    gap: 1vmax;
    flex-direction: column;
}
.earssy-content-header {
    display: flex;
    gap: 1vmax;
    color: white;
    background-color: #00044b;
    box-shadow: 0 0 0.5vmax 0.25vmax #a1907b;
    border-radius: 0.5vmax;
    padding: 1vmax;
}

.earssy-content-card {
    display: flex;
    gap: 1vmax;
    background-color: #d0b899;
    box-shadow: 0 0 0.5vmax 0.25vmax #a1907b;
    border-radius: 0.5vmax;
    padding: 1vmax;
    transition: 0.3s;
    cursor: pointer;
}

.earssy-content-card:hover {
    background-color: #c6ab87;
}

.earssy-content-card img {
    height: 8vmax;
    min-width: 14vmax;
    max-width: 14vmax;
    object-fit: cover;
    object-position: 25% 25%; 
}

.earssy-content-card-text-container * {
    margin: 0;
}

@media screen and (max-width: 700px) {
    .earssy-content-card {
        flex-direction: column;
    }
    .earssy-content-card img {
        min-width: 100%;
        max-width: 100%;
        height: auto;
    }
}