{% include 'include/base.html' %}
{% include 'include/header.html' %}
<div class="flow-container" id="earssy-profile">
    <br />
    <br />
    <h2 style="margin: 0;">Profile</h2>
    <p>Username: <b>{{ session['user']['username'] }}</b>&emsp;<a href="/logout">Log out</a></p>
    <br />
    <br />
    <h2 style="margin: 0;">RSS channels</h2>
    <small>List of RSS channels to download feeds.</small>
    <br />
    <br />
    <div style="display: flex; gap: 1vmax;">
        {% for channel in channels %}
            <a class="earssy-content-card earssy-settings-RSS-channel" href='/delete-channel?id={{ channel["SUBSCRIPTION_ID"] }}' id='earssy-channel-{{ channel["feed"]["SUBSCRIPTION_ID"] }}'>
                {{ channel['feed']['title'] }}
            </a>
        {% endfor %}
        <a class="earssy-content-card">
            <form id="earssy-settings-addchannel" action="/add-channel" method="GET" style="display: flex; align-items: center; margin: 0; gap: 0.5vmax;">
                <input type="text" name="url" id="earssy-settings-addchannel-url" />
                <i class="fa fa-plus-circle" onClick="document.getElementById('earssy-settings-addchannel').submit();"></i>
            </form>
        </a>
    </div>
    <br />
    <br />
</div>